<div class= "container">
  <div class= "row">
    <div class= "col-sm-12 text-center">
      <h1><%= @cocktail.name %></h1>   
      
      <h2> Ingredients </h2>
       <h1><%= @cocktail.doses %></h1>
       <h1><%= @cocktail.ingredients %></h1>

      </div>
  </div>
</div>